{% extends 'base.html' %}
{% block menu %}

    <li><a href="{% url 'products:product_add' %}">Add Product</a></li>

{% endblock %}


{% block content %}



    <div class=".bg-light">
        <h1 class="main_title">Продукты</h1>

        {% for product in products %}
            <div class="guest_card card border-dark mb-5" style="max-width: 18rem;">
              <div class="card-header">
                  <span>Название продукта: <a href="{% url 'products:product_view' product.pk %}">{{ product.name }}</a></span>
                  <div> Категория продукта: {{ product.categories }}</div>
              </div>
              <div class="card-body text-dark">
                <h5 class="card-title"></h5>
                    {% if product.avatar %}
                        <img class="card-img-top" src="{{ product.avatar.url }}" width="250" height="250" alt="product picture">
                    {% else %}
                        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTD-WdLYbJApJzlmhsqPbyueloBRfD5GRJncw&usqp=CAU" width="250" height="250" alt="product picture">
                    {% endif %}
              </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}