{% extends 'base.html' %}


{% block menu %}

    <li><a href="{% url 'products:product_delete' product.id %}">Delete product</a></li>
    <li><a href="{% url 'products:product_update' product.id %}">Product update</a></li>
    <li><a href="{% url 'products:review_add' product.pk %}">Create review</a></li>

{% endblock menu %}

{% block title %}{{ product.name }}{% endblock %}



<{% block content %}



<div class="guest_card card border-dark mb-5 mt-5" style="max-width: 18rem;">
              <div class="card-header">
                  <span>Название продукта: {{ product.name }}</span>
                  <div> Категория продукта: {{ product.categories }}</div>
                  <div>Текст продукта : {{ product.description }}</div>
              </div>
              <div class="card-body text-dark">
                <h5 class="card-title"></h5>
                    {% if product.avatar %}
                        <img class="avatar" src="{{ product.avatar.url }}" width="250" height="250" alt="product_pics">
                    {% else %}
                        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTD-WdLYbJApJzlmhsqPbyueloBRfD5GRJncw&usqp=CAU" width="250" height="250" alt="product picture">
                    {% endif %}
              </div>

            {% for review in product.review.all %}
                {% if review.is_moderated %}
                <div class="guest_card card border-dark mb-5" style="max-width: 18rem;">
                  <div class="card-header">
                      <p>Редактировать отзыв № <a href="{% url 'products:review_update' review.pk %}">{{ review.pk }}</a></p>
                      <p>Удалить отзыв № <a href="{% url 'products:review_update' review.pk %}">{{ review.pk }}</a></p>
                      <span>Имя автора :{{ review.author }}</span>
                  </div>
                  <div class="card-body text-dark">
                    <h5 class="card-title"></h5>
                        <p class="card-text">Оценка : {{ review.rating }}</p>
                        <p class="card-text">Текст отзыва : {{ review.text }}</p>
                  </div>
                </div>
                {% endif %}
        {% endfor %}


            </div>
{% endblock %}

